/* Navbar Style Start */
:root {
    --primary: #575858;
    --heading-color: #282938;
    --bg-shade: #fcf6ff;
    --github: #9da09e;
    --darkblue: #171817;
    --black: #000000;
    --white: #f7fafc;
    /*--github-hover: #cdd1cf;*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85.333px;
    /*background: #1F6357;*/
    /*background-color: #EBFFFA;*/
    /*background-color: #AEEAC9;*/
    /*background-color: rgb(164, 239, 194);*/
    /*background-color: rgb(160, 235, 214);*/
    background-color:#D6FFF5;
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Ensure navbar is above other elements */
}

.navbar--items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 42.667px;
    text-decoration: none;
}

.navbar--items ul > li > a {
    text-decoration: none;
    border-radius: 10px; /* Add rounded corners */
}

.navbar-outline-primary {
    color: var(--primary);
    background-color: var(--transparent);
    border: 1px solid var(--primary);
    padding: 0.5em 0.5em 0.5em;
    border-radius: 10px; /* Rounded corners */
}

.navbar--content {
    color: var(--darkblue);
    background-color: #96C5C0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 35px;
    padding-right: 35px;
}

.navbar--active-content {
    color: var(--primary);
}

.logo {
    font-size: 25px; /* Adjust font size as needed */
    font-family: Arial, Helvetica, sans-serif;
    color:#719896;
    padding-left: 10px;
    padding-right: 10px;
}

.letter {
    display: inline-block;
}

/* Hamburger menu */
.nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 200; /* Ensure hamburger menu is above other elements */
}

.nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
    .nav__hamburger {
        display: flex;
    }
    .navbar--items {
        display: flex;
    }
    .navbar--items {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255);
        top: -26rem;
        left: 0;
        width: 100%;
        transition: all ease-in-out 0.4s;
        z-index: -1000; /* Lower z-index to ensure it stays behind other elements */
    }
    .navbar--items ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 3rem 0 0.6rem;
        z-index: -100;
    }
    .navbar--items ul li {
        text-align: center;
    }
    .navbar--items ul li a {
        padding: 0.5rem;
    }
    .navbar--items.active {
        top: 30px;
        z-index: 150; /* Higher z-index when active to ensure it appears above other elements, but below the hamburger button */
    }
    .nav__hamburger.active {
        z-index: 200; /* Ensure the hamburger menu button is above the extended menu */
    }
    .nav__hamburger.active :nth-child(1) {
        transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
    .nav__hamburger.active :nth-child(2) {
        opacity: 0;
    }
    .nav__hamburger.active :nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
}

/* Adding specific rounded corners for Home and Parameters buttons */
.home-button, .parameters-button {
    border-radius: 10px; /* Adjust the value as needed for the desired roundness */
}

.logout-button {
    background-color: var(--logout-bg);
    color: var(--logout-color);
    border: none;
    border-radius: 10px; /* Add rounded corners */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: var(--logout-hover-bg);
}

.login-button {
    background-color: var(--logout-bg);
    color: var(--logout-color);
    border: none;
    border-radius: 10px; /* Add rounded corners */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: var(--logout-hover-bg);
}
/* Navbar Styler Ends */
