
*{
    /*background-color: #96C5C0;*/
    /*background-color: #D6FFF5;*/
    background-color: #D6FFF5;
}

.box1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: space-around;
}

.box2{
    display: flex;
    justify-content: space-around
}


#left{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    flex-direction: column;
}

#right{
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    flex-direction: column;
}

#error{
    color: rgb(171, 43, 43);
}

input[type="text"], textarea {
    background-color : white;
  }


.notifications, .currentThresholds, .energyUsage{
   justify-content:center;
   align-items:center;
}
  
.button, .button1, .button2{
    background-color: #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
    outline:none;
    padding-top: 4px;
    padding-bottom: 4px;
}

.button:hover, .button1:hover, .button2:hover{
    background-color: #AEEAC9;
   
}

#lower, #upper, #sendData {
    justify-content: space-between;
    margin-right: 5px ;
    margin-left: 10px;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 1px;
    padding-left: 1px;

}

.graph{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}


@media (max-width: 1400px) {
    #lower, #upper, #sendData{
        margin-left: 30px;
        margin-top: 20px;
        align-items: center;
      }

    .button2{
        margin-bottom: 30px;
    }

}

@media (max-width: 767px) {
    #lower, #upper{
        margin-bottom: 10px;
      }
    
     .button1{
        margin-bottom: 10px;
     } 

     .button2{
        margin-bottom: 20px;
     }
}

h1{
    color: #000;
    margin-top: 125px;
    text-align: center;
    padding-left: 17.5px;

}

h3{
    font-size: 25px;
    padding: 15px;
}

.inputContainer{
    display: flex;
    align-items: center; 
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}

.notifContainer{
    display: flex;
    align-items: center; 
    text-align: center;
    justify-content: space-around;
    padding: 5px;
}


.button2Danger{
    margin-right: 7px;
}

.lastFetched{
    justify-content: center;
    text-align: center;
}

#upp, #low{
    top: 50%;
    left: 50%;
    border-radius: 4px;
}

#fetched{
    font-size: 19px;
}
