
*{
    background-color: #96C5C0;
}

.box1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: space-around;
}

.box2{
    display: flex;
    justify-content: space-around
}


#left{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    flex-direction: column;
}

#right{
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    flex-direction: column;
}

#error{
    color: rgb(171, 43, 43);
}

input[type="text"], textarea {
    background-color : white;
  }


.notifications{
    justify-content: center;
    align-items: center;
}
  
.button{
    background-color: #D9D9D9;
}



